* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-align: left;
  font-family: 'Lato', Arial, Helvetica, sans-serif;
}

section, 
footer {
  padding: 60px 40px 47px 40px;
}

h1 {
  margin-bottom: 30px;
  font-size: 30px;
  line-height: 18px;
  color: #f0d8d9;
  font-family: "Lato";
  font-weight: 900;
  text-align: left;
}

.all {
  max-width: 1020px;
  margin: auto;
  background-color: #f06c64;
}

.quote p {
  font-size: 18px;
  line-height: 30px;
  color: #f0d8d9;
  font-family: "Lato";
  font-weight: 300;
  text-align: left;
}

.social {
  display: flex;
  margin-top: 22px;
}

.social a {
  display: flex;
  height: 30px;
  width: 32px;
  margin-right: 10px;
  padding-top: 6px;
  text-align: center;
  border: 1px solid #666d89;
  border-radius: 100%;
}

.social .icon {
  height: 15px;
  margin: 0 auto;
}

.social a:hover {
  background-color: #66cca8;
  border-color: #4ab48f;
}