* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-align: left;
  font-family: 'Lato', Arial, Helvetica, sans-serif;
}

button:active, button:focus {
  outline: none;
}

button::-moz-focus-inner {
  border: 0;
}

input:active,
input:hover,
input:focus,
textarea:active,
textarea:hover,
textarea:focus {
  outline: none;
}

section, 
footer {
  padding: 60px 40px 47px 40px;
}

footer {
  padding-top: 0;
  padding-right: 35px;
  display: flex;
  height: 75px;
  flex-wrap: wrap;
  justify-content: space-between;
  background: #2d303a;
}

h1 {
  margin-bottom: 28px;
  font-size: 30px;
  line-height: 18px;
  color: #f0d8d9;
  font-family: "Lato";
  font-weight: 900;
  text-align: left;
}

.all {
  max-width: 1020px;
  margin: auto;
  background-color: #f06c64;
}

.quote {
  padding-top: 68px;
  padding-bottom: 43px;
}

.quote p {
  font-size: 18px;
  line-height: 30px;
  color: #f0d8d9;
  font-family: "Lato";
  font-weight: 300;
  text-align: left;
}

.contact-us {
  display: flex;
  margin-bottom: 4px;
  padding-top: 0;
  padding-bottom: 22px;
  flex-wrap: wrap;
  justify-content: space-between;
}

.contact-us h2 {
  margin-bottom: 12px;
  font-size: 18px;
  line-height: 18px;
  color: #f0d8d9;
  font-family: "Lato";
  font-weight: 900;
  text-align: left;
}

.contact-us p, 
.contact-text {
  font-size: 12px;
  line-height: 20px;
  color: #f0d8d9;
  font-family: "Lato";
  font-weight: 300;
  text-align: left;
}

.text {
  width: 300px;
}
 
.contacts {
  margin-top: 25px;
}

.form textarea {
  height: 202px;
  padding: 6px;
  padding-left: 13px;
  box-sizing: border-box;
  resize: none;
}

.form input:required:valid {
  background: #bf473f;
}

.btn-submit {
  width: 60px;
  padding: 4px;
  border: 1px solid #d3524c;
  border-radius: 5px;
  font-size: 12px;
  text-align: center;
  color: #f48c8f;
  background-color: #d6564f;
  transition: all 0.3s ease-out;
}

button:hover,
button:focus,
button:active {
  border: 1px solid #f0d8d9;
  cursor: pointer;
}

button:active {
  color: #ffffff;
}

.form input {
  padding: 6px;
  padding-left: 13px;
  font-size: 12px;
  line-height: 22px;
  color: #f48c8f;
  font-family: "Lato";
  font-weight: 400;
  text-align: left;
}

.form input,
.form textarea {
  width: 619px;
  margin-bottom: 17px;
  color: #f48c8f;
  border: 1px solid #d3524c;
  border-radius: 5px;
  background-color: #d6564f;
  box-sizing: border-box;
}

.form input::placeholder,
.form textarea::placeholder {
  font-size: 12px;
  line-height: 22px;
  color: #f48c8f;
  font-family: "Lato";
  font-weight: 400;
  text-align: left;
}

.picture {
  display: inline-block;
  margin-right: 15px;
  cursor: pointer;
}

.location {
  width: 7px;
  height: 11px;
  background-image: url("assets/img/location.svg");
}

.handy {
  width: 11px;
  height: 11px;
  background-image: url("assets/img/handy.svg");
}

.mail {
  width: 13px;
  height: 11px;
  background-image: url("assets/img/email.svg");
}

.link {
  text-decoration: none;
  cursor: pointer;
  transition: all 0.3s ease-out;
}

.social {
  display: flex;
  margin-top: 20px;
}

.social a {
  display: flex;
  height: 30px;
  width: 32px;
  margin-right: 10px;
  padding-top: 6px;
  text-align: center;
  border: 1px solid #666d89;
  border-radius: 100%;
  transition: all 0.3s ease-out;
}

.social .icon {
  height: 15px;
  margin: 0 auto;
}

.social a:hover {
  background-color: #66cca8;
  border-color: #4ab48f;
}

.copyright {
  margin-top: 28px;
  font-size: 12px;
  line-height: 18px;
  color: #666d89;
  font-weight: 400;
}